@use 'color';
@use 'slider';

.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .profile {

        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 50%;
        background-color: color.$color-secondary;
        margin-top: 50px;
        border-radius: 50px;
        box-shadow: 0 4px 4px color.$color-shadow;
        
    
        img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            margin: 20px;
        }
    
        .text {
    
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
    
            .job {
    
                padding: 10px;
    
            }
    
        }
    
    }
}


.settings-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

}

.settings {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 80%;
    background-color: color.$color-primary;
    padding: 20px;
    border-radius: 100px;

    .security,
    .preferences {

        width: 65%;
        background-color: color.$color-primary;
        margin: 10px;
        border: 1px solid black;

        h2 {
            padding: 20px
        }

        h4 {
            padding: 0 20px 20px 20px;
        }

        border-radius: 20px;

        .setting-box {

            background-color: color.$color-secondary;
            border-radius: 0 0 20px 20px;

            padding: 30px;
            position: relative;
        }

    }

}

.setting-divider {

    display: block;
    width: 300px;
    text-align: center;
    margin: 20px auto;

    h2 {

        padding: 10px;

    }
}

.submit {

    height: 30px;
    width: 150px;
    position: absolute;
    bottom: 10px;
    right: 10px;

    background-color: color.$color-button-green;
    border-radius: 50px;

}

// Creating grids and setting positions inside grids.
#set-email form {

    display: grid;

    grid-template-rows: repeat(3, calc(100% / 3));
    grid-template-columns: repeat(5, calc(100% / 5));

    .p-email {
        grid-column: 1;
        grid-row: 1;
    }

    .p-emnot {
        grid-column: 1;
        grid-row: 2;
    }

    .p-tanot {
        grid-column: 1;
        grid-row: 3;
    }

    .in-email {
        grid-column: 2 / 4;
        grid-row: 1;
    }

    .swt-emnot {
        grid-column: 2;
        grid-row: 2;
    }

    .swt-tanot {
        grid-column: 2;
        grid-row: 3;
    }

    .p-emnot-t {
        grid-column: 3/4;
        grid-row: 2;
    }

    .p-tanot-t {
        grid-column: 3/4;
        grid-row: 3;
    }

    // .submit {
    //     grid-column: 5;
    //     grid-row: 3;
    // }

}

#set-password form {

    display: grid;

    grid-template-rows: repeat(3, calc(100% / 3));
    grid-template-columns: repeat(6, calc(100% / 6));

    .p-newpass {
        grid-column: 1;
        grid-row: 1;
    }

    .p-conpass {
        grid-column: 1;
        grid-row: 2;
    }

    .p-reqemail {
        grid-column: 1/2;
        grid-row: 3;
    }

    .in-newpass {
        grid-column: 2 / 4;
        grid-row: 1;
    }

    .in-conpass {
        grid-column: 2 / 4;
        grid-row: 2;
    }

    .swt-reqemail {
        grid-column: 3;
        grid-row: 3;
    }

    // .submit {
    //     grid-column: 6;
    //     grid-row: 3;
    // }

}

#set-privacy form {

    display: grid;

    grid-template-rows: repeat(3, calc(100% / 3));
    grid-template-columns: repeat(4, calc(100% / 4));

    .p-functionality {
        grid-column: 1;
        grid-row: 1;
    }

    .p-analytics {
        grid-column: 1;
        grid-row: 2;
    }

    .p-advertisement {
        grid-column: 1;
        grid-row: 3;
    }

    .swt-functionality {
        grid-column: 2;
        grid-row: 1;
    }

    .swt-analytics {
        grid-column: 2;
        grid-row: 2;
    }

    .swt-advertisement {
        grid-column: 2;
        grid-row: 3;
    }

}

#set-visibility form {

    display: grid;

    grid-template-rows: repeat(3, calc(100% / 3));
    grid-template-columns: repeat(7, calc(100% / 7));

    .p-fname {
        grid-column: 1;
        grid-row: 1;
    }

    .p-uname {
        grid-column: 1;
        grid-row: 2;
    }

    .p-joba {
        grid-column: 1;
        grid-row: 3;
    }

    .p-jobb {
        grid-column: 5;
        grid-row: 1;
    }

    .p-organisation {
        grid-column: 5;
        grid-row: 2;
    }

    .in-fname {
        grid-column: 2;
        grid-row: 1;
    }

    .in-uname {
        grid-column: 2;
        grid-row: 2;
    }

    .in-joba {
        grid-column: 2;
        grid-row: 3;
    }

    .in-jobb {
        grid-column: 6;
        grid-row: 1;
    }

    .in-organisation {
        grid-column: 6;
        grid-row: 2;
    }

    .drp-fname {
        grid-column: 3;
        grid-row: 1;
    }

    .drp-uname {
        grid-column: 3;
        grid-row: 2;
    }

    .drp-joba {
        grid-column: 3;
        grid-row: 3;
    }

    .drp-jobb {
        grid-column: 7;
        grid-row: 1;
    }

    .drp-organisation {
        grid-column: 7;
        grid-row: 2;
    }
}

#set-connected-apps form {

    display: grid;

    grid-template-rows: repeat(4, calc(100% / 4));
    grid-template-columns: repeat(7, calc(100% / 7));

    .p-github {
        grid-column: 1;
        grid-row: 1;
    }

    .p-facebook {
        grid-column: 2;
        grid-row: 1;
    }

    .p-google {
        grid-column: 3;
        grid-row: 1;
    }

    .p-youtube {
        grid-column: 4;
        grid-row: 1;
    }

    .p-twitter {
        grid-column: 5;
        grid-row: 1;
    }

    .p-instagram {
        grid-column: 6;
        grid-row: 1;
    }

    .p-linkedin {
        grid-column: 7;
        grid-row: 1;
    }

    .imglnk-github {
        grid-column: 1;
        grid-row: 2;
    }

    .imglnk-facebook {
        grid-column: 2;
        grid-row: 2;
    }

    .imglnk-google {
        grid-column: 3;
        grid-row: 2;
    }

    .imglnk-youtube {
        grid-column: 4;
        grid-row: 2;
    }

    .imglnk-twitter {
        grid-column: 5;
        grid-row: 2;
    }

    .imglnk-instagram {
        grid-column: 6;
        grid-row: 2;
    }

    .imglnk-linkedin {
        grid-column: 7;
        grid-row: 2;
    }

    .p-githublinked {
        grid-column: 1;
        grid-row: 3;
    }

    .p-facebooklinked {
        grid-column: 2;
        grid-row: 3;
    }

    .p-googlelinked {
        grid-column: 3;
        grid-row: 3;
    }

    .p-youtubelinked {
        grid-column: 4;
        grid-row: 3;
    }

    .p-twitterlinked {
        grid-column: 5;
        grid-row: 3;
    }

    .p-instagramlinked {
        grid-column: 6;
        grid-row: 3;
    }

    .p-linkedinlinked {
        grid-column: 7;
        grid-row: 3;
    }
}

#set-preferences form {

    display: grid;

    grid-template-rows: repeat(3, calc(100% / 3));
    grid-template-columns: repeat(4, calc(100% / 4));

    .p-selectlang {
        grid-column: 1;
        grid-row: 1;
    }

    .p-selecttime {
        grid-column: 1;
        grid-row: 2;
    }

    .drp-selectlang {
        grid-column: 2;
        grid-row: 1;
    }

    .drp-selecttime {
        grid-column: 2;
        grid-row: 2;
    }
}

#set-marketplace form {

    display: grid;

    grid-template-rows: repeat(3, calc(100% / 3));
    grid-template-columns: repeat(5, calc(100% / 5));

    .p-marketplaceuname {
        grid-column: 1;
        grid-row: 1;
    }

    .p-contactvis {
        grid-column: 1;
        grid-row: 2;
    }

    .p-statustrust {
        grid-column: 1;
        grid-row: 3;
    }

    .p-marketrate {
        grid-column: 4;
        grid-row: 1;
    }

    .p-marketplaceunamename {
        grid-column: 2;
        grid-row: 1;
    }

    .swt-contactvis {
        grid-column: 2;
        grid-row: 2;
    }

    .p-statustrusttrust {
        grid-column: 2;
        grid-row: 3;
    }

    .p-marketraterate {
        grid-column: 5;
        grid-row: 1;
    }
}