<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/nav_bar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/faq.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <title>Frequently Asked Questions</title>
</head>

<body>
    <comp-nav-bar></comp-nav-bar>
    <div class="wrapper">
        <div class="faq-container">
            <div class="faq-header">
                <h1>FAQ</h1>
            </div>
            <div class="faq-boxes">

                <comp-faq></comp-faq>
                <comp-faq></comp-faq>
                <comp-faq></comp-faq>
                <comp-faq></comp-faq>
                <comp-faq></comp-faq>
                <comp-faq></comp-faq>

            </div>
        </div>


    </div>
    <comp-footer></comp-footer>
</body>

</html>