<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../components/nav_bar.js"></script>
    <script type="module" src="../components/footer.js"></script>
    <link rel="stylesheet" href="/static/main.css">
    <title>Log in</title>


</head>

<body class="login-page">
    <div class=login-page>
        <div class="login-container">
            <form class="login-form" method ='POST' action="{{ url_for('login.login') }}">
                <img src="/static/images/icon-placeholder.png" alt="icon-placeholder" class="placeholder">
                <h2 class="header-text">Log in</h2>
                <!-- {put each in div for poisitoning and entry box for styiling those}-->
                <div class="username-entry">
                    <label for="username">Email / Username:</label>
                    <input class="entry-box" type="text" id="username" name="username-email"
                        placeholder="Enter your Email or Username" required>
                </div>
                <!-- {put each in div for poisitoning and entry box for styiling those}-->
                <div class="password-entry">
                    <label for="password">Password:</label>
                    <input class="entry-box" type="password" id="password" name="password"
                        placeholder="Enter your Password" required>
                </div>

                <p id="sign-up">No account?&nbsp <a href="{{ url_for('signup.signup') }}"> Sign up</a>
                <!-- <button id="loginbutton" type="submit">Login</button> -->
                <button id="login-button" type="submit">Login</button>
                
                
                <a id="forgot-password" href="forgot_password.html">Forgot Password?</a>
            </form>
        </div>
    </div>
</body>

</html>