<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/nav_bar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/faq.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <title>Project || {{ title }}</title>
</head>

<body>
    <comp-nav-bar data-username="{{ user.username }}"></comp-nav-bar>
    <div class="project-content">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>
        <p>Created by: {{ project.owner.username }}</p>
    </div>

</body>

</html>