<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Project | {{ project.title }}</title>

    <script src="{{ url_for('static', filename='js/nav_bar.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">

</head>

<body>

    <comp-nav-bar data-username="{{ user.username }}"></comp-nav-bar>

    <div class="project-content">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>
        <p>Created by: {{ project.owner.username }}</p>
    </div>

    <div id="toolbar">
        <div id="toolbar-header">Toolbar</div>
        <button id="draw-box">Draw Box</button>
        <button id="pen-tool">Pen Tool</button>
        <button id="sticky-note">Sticky Note</button>
        <button id="delete-box">Delete Selected</button>
        <span id="status">Ready</span>
    </div>


    <canvas id="canvas"></canvas>

    <script src="{{ url_for('static', filename='js/project_canvas.js') }}"></script>

</body>

</html>