<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{{ url_for('static', filename='js/nav_bar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Memberships</title>
  </head>

  <body>
    <comp-nav-bar></comp-nav-bar>
    <!-- Main Content -->
    <div class="main">
      <!-- <img src="{{ url_for('static', filename='Blue_test.png') }}" alt="background image" class="background"> -->
      <h1>Memberships</h1>
      <p>Elevate your productivity with the plan that suits your needs.</p>

      <div class="plans">
        <!-- Free plan -->
        <div class="free_plan">
          <div class="selection_header">
            <h2>Free</h2>
            <div class="price">0</div>
            <p class="description">Included with Free</p>
          </div>
          <ul class="benefits">
            <li>  </li>
            <li>10 projects</li>
            <li>Invite up to 10 collaborators</li>
            <li>5 free plugins</li>
            <li>5 free templates</li>
            <li>Assign due dates and members to tasks</li>
            <li>Agile boards</li>
            <li>  </li>
          </ul>
        </div>
        <!-- Standard plan -->
        <div class="standard_plan">
          <div class="selection_header">
            <h2>Standard</h2>
            <div class="price">6.99</div>
            <p class="description">Everything included in Free, +</p>
          </div>
          <ul class="benefits">
            <li>  </li>
            <li>50 projects</li>
            <li>Invite up to 20 collaborators</li>
            <li>10 free plugins</li>
            <li>10 free templates</li>
            <li>Assign due dates and members to tasks</li>
            <li>10 workspaces</li>
            <li>Collaborative document file</li>
            <li>Private messaging</li>
            <li>Waterfall and Scrum boards</li>
            <li>  </li>
          </ul>
          <a class="sign_up" href="#">Sign up</a>
        </div>
        <!-- Premium plan -->
        <div class="premium_plan">
          <div class="selection_header">
            <h2>Premium</h2>
            <div class="price">10.99</div>
            <p class="description">Everything included in Free, +</p>
          </div>
          <ul class="benefits">
            <li>  </li>
            <li>Unlimited projects</li>
            <li>Invite up to 100 collaborators</li>
            <li>Free access to all plugins</li>
            <li>Free access to all templates</li>
            <li>Assign due dates and members to tasks</li>
            <li>50 workspaces</li>
            <li>Collaborative document file</li>
            <li>Private messaging</li>
            <li>All available methodologies</li>
            <li>  </li>
          </ul>
          <a class="sign_up" href="#">Sign up</a>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <comp-footer></comp-footer>
  </body>
</html>

