<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/nav_bar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <title>Sign up</title>


</head>

<body>
    <div class=signup-page>
        <div class="signup-container">
            <form class="signup-form">
                <img src="{{ url_for('static', filename='images/icon-placeholder.png') }}" alt="icon-placeholder" class="placeholder">
                <h2 class="header-text">Sign up</h2>
                <!-- {put each in div for poisitoning and entry box for styiling those}-->
                <div class="username-entry">
                    <label for="username">Username:</label>
                    <input class="entry-box" type="text" id="username" name="username"
                        placeholder="Enter your desired username (max 12 characters)" required>
                </div>

                <div class="email-entry">
                    <label for="email">Email:</label>
                    <input class="entry-box" type="email" id="email" name="email"
                        placeholder="Enter your Email address" required>
                </div>
                <!-- {put each in div for poisitoning and entry box for styiling those}-->
                <div class="password-entry">
                    <label for="password">Password:</label>
                    <input class="entry-box" type="password" id="password" name="password"
                        placeholder="Enter your Password" required>
                </div>

                 <div class="confirm-password-entry">
                    <label for="password">Confirm Password:</label>
                    <input class="entry-box" type="password" id="password" name="password"
                        placeholder="Confirm your Password" required>
                </div>
                <div class="checkbox-entry">
                    <input  type="checkbox" id="terms" name="terms" required>
                    <label id="terms-text" for="terms">By creating an account I agree to the <a href="#">Terms and Conditions</a></label>
                </div>
                 <a id="return-login" href="{{ url_for('login') }}"> Return to Login</a>
                <button id="signup-button" type="button">Signup</button>
                <script>
                    document.getElementById("signup-button").addEventListener("click", function () {
                        window.location.href = "{{ url_for('dashboard') }}"; // Replace with the actual path to your dashboard
                    });
                </script>
                
            </form>
        </div>
    </div>
</body>

</html>