<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../components/nav_bar.js"></script>
    <script type="module" src="../components/footer.js"></script>
    <link rel="stylesheet" href="../static/main.css">
    <title>Sign up</title>


</head>

<body>
    <div class=signup-page>
        <div class="signup-container">
            <form method="POST" action="{{ url_for('signup.signup') }}" class="signup-form">
                <img src="{{ url_for('static', filename='images/icon-placeholder.png') }}" class="placeholder" alt="icon">
                <h2 class="header-text">Sign up</h2>
                <!-- {put each in div for poisitoning and entry box for styiling those}-->
                <div class="username-entry">
                    <label for="username">Username:</label>
                    <input class="entry-box" type="text" id="username" name="username"
                        placeholder="Enter your desired username (max 12 characters)" required>
                </div>

                <div class="email-entry">
                    <label for="email">Email:</label>
                    <input class="entry-box" type="email" id="email" name="email" placeholder="Enter your Email address"
                        required>
                </div>
                <!-- {put each in div for poisitoning and entry box for styiling those}-->
                <div class="password-entry">
                    <label for="password">Password:</label>
                    <input class="entry-box" type="password" id="password" name="password"
                        placeholder="Enter your Password" required>
                </div>

                <div class="confirm-password-entry">
                    <label for="password">Confirm Password:</label>
                    <input class="entry-box" type="password" id="password" name="password"
                        placeholder="Confirm your Password" required>
                </div>
                <div class="checkbox-entry">
                    <input type="checkbox" id="terms" name="terms" required>
                    <label id="terms-text" for="terms">By creating an account I agree to the <a href="#">Terms and
                            Conditions</a></label>
                </div>
                <a id="return-login" href="login.html"> Return to Login</a>
                <button id="signup-button" type=submit>Sign Up</button>
            </form>
        </div>
    </div>
</body>

</html>