@use 'color';

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.about-us-content {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;

}

.our-history-container {
    grid-row: 1;
    grid-column: 1 / -1;
    font-size: 30px;
    font-weight: bold;
    color: color.$color-dark-text;
    text-align: center;
    width: 425px;
    height: 50px;
    background-color: color.$color-tertiary;
    border-radius: 0 0 25px 25px;
    padding: 2.5px 7.5px;
    margin: 0 auto;
}


.our-history-image {
    display: flex;
    flex-direction: row;
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    max-width: 500px;
    justify-self: center;
    align-self: center;
}

.our-history-text {
    display: grid;
    flex-direction: row;
    grid-row: 2;
    grid-column: 2;
    font-size: 16px;
    color: color.$color-dark-text;
    align-content: center;
    line-height: 1.5;
    height: auto;

    
    
    p {
        margin: 30px; // Adds spacing between paragraphs
        max-width: 1200px; // Limits the width of the text for better readability
    }
}


.our-goals-container {
    grid-row: 4;
    grid-column: 1 / -1;
    font-size: 30px;
    font-weight: bold;
    color: color.$color-dark-text;
    text-align: center;
    width: 425px;
    height: 50px;
    background-color: color.$color-tertiary;
    border-radius: 0 0 25px 25px;
    padding: 2.5px 7.5px;
    margin: 0 auto;
    z-index: 2;
    align-items: center;
}



.line {
    grid-row: 3;
    grid-column: 1 / -1;
    box-shadow: 1px 1px 2px pink;
    color: black;
    z-index: 1;
}

.our-goals-text {
    display: grid;
    flex-direction: row;
    grid-row: 5;
    grid-column: 1 / -1;
    font-size: 16px;
    color: color.$color-dark-text;
    align-content: center;
    line-height: 1.5;
    height: auto;

    
    p {
        margin: 30px; // Adds spacing between paragraphs
        max-width: 1000px; // Limits the width of the text for better readability
    }
}
.our-goals-image {
    display: flex;
    flex-direction: row;
    grid-row: 5;
    grid-column: 3;
    width: 100%;
    max-width: 500px;
    justify-self: center;
    align-self: center;
}

