@use 'color';
@use 'slider';

.settings {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;

    .security, .preferences {

        width: 80%;
        background-color: color.$color-primary;
        margin: 10px;

    }

}