// Main colors
$color-primary: #D9D9D9;
$color-secondary: #E6E6E6;
$color-tertiary: #A1A1A1;
// Text color
$color-dark-text: #000000;
$color-light-text: #FFFFFF;

// Link Color text
$color-link-text: #4a90e2;

// Color for buttons
$color-button-green: #54AC39;

// Color for cards
$color-add-inactive: #D9D9D9;
$color-add-active: #54AC39;
$color-notification: #F36767;

// Color for shadows
$color-shadow: #A1A1A1
  
// Line seperator and box transparent background
$color-transparent:  #cccccc00;
$color-line: #050202;