@use 'color';

.faq-container {

    display: grid;

    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;

    .faq-header {

        grid-column: 1;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 50px;

        h1 {

            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 128pt;
            text-align: center;
            margin-left: 50%;

        }

    }

}

.faq-boxes {

    grid-column: 2;

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    comp-faq {

        display: flex;
        justify-content: center;

    }

    .faq-box {

        display: flex;
        background-color: color.$color-primary;
        margin: 10px;
        border-radius: 20px;
        width: 70vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        //box-shadow: 2px 2px 5px color.$color-tertiary;

        .question {

            height: 100%;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 20px;
            box-shadow: 2px 2px 5px color.$color-tertiary;
            text-align: center;

        }

        .answer {

            padding: 20px 75px;

            // display: none;

        }

        .hidden {

            display: none;

        }

    }

}