* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .nav-left li {
  float: left;
}
.nav-bar .nav-right li {
  float: right;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D9D9D9;
}
.nav-bar ul li a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-bar ul li a:hover {
  background-color: #A1A1A1;
}

.footerContainer {
  background-color: #d9d9d9;
  padding: 20px;
  font-family: sans-serif;
}
.footerContainer .socialIcons {
  display: flex;
  gap: 10px;
  margin-bottom: -20px;
  margin-left: 150px;
}
.footerContainer .socialIcons a {
  border: 1px solid #000;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #000;
  text-decoration: none;
}
.footerContainer .footerBottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}
.footerContainer .footerBottom .copyrightText {
  flex: 1;
  margin-top: 50px;
  margin-left: 80px;
}
.footerContainer .footerBottom .links {
  flex: 1;
  display: flex;
  gap: 15px;
  justify-content: right;
  margin-right: -230px;
  margin-top: 48px;
}
.footerContainer .footerBottom .links a {
  color: #000;
  text-decoration: underline;
}
.footerContainer .footerBottom .contactInfo {
  flex: 1;
  text-align: right;
}
.footerContainer .footerBottom .contactInfo a {
  color: #000;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffffff;
  font-size: small;
}

grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
  margin: 40px auto;
  max-width: 1000px;
  padding: 20px;
}

.history-header {
  text-align: center;
  margin-bottom: 20px;
}

.goals-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -40px;
}

.history-title {
  font-size: 2rem;
  font-weight: lighter;
  background-color: rgb(218, 218, 218);
  padding: 10px 100px;
  border-radius: 0 0 20px 20px;
  display: inline-block;
  max-width: 400px;
}

.goals-title {
  font-size: 2rem;
  font-weight: lighter;
  background-color: rgb(218, 218, 218);
  padding: 10px 100px;
  border-radius: 0 0 20px 20px;
  display: inline-block;
  max-width: 400px;
}

.history-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto 40px;
  padding: 0 20px;
  margin-right: 8%;
}

.goals-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto 40px;
  padding: 0 20px;
  margin-right: 8%;
}

.history-image {
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  margin-left: -20%;
}

.goals-image {
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  margin-left: -20%;
}

.history-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.2;
  color: 333;
  font-size: medium;
}

.goals-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.2;
  color: 333;
  font-size: medium;
  margin-left: -190px;
  max-width: 800px;
}

.divider {
  margin: 40px auto;
  width: 100%;
  border: none;
  border-top: 1px solid #000000;
}/*# sourceMappingURL=main.css.map */