@use 'cleanse';
@use 'nav-bar';
@use 'footer';
@use 'card';


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    padding: 0 20px;
    font-size: small;
}

section {
    
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

h1, h2 {
    margin-top: 40%;
    background: var(--section-bg);
    border: 2px solid rgb(180, 176, 176);
    border-radius: 0 0 20px 20px;
    grid-row: 2 / 4;
    grid-row: 1;
    padding: 10px 20px;
    margin: 5px;
    color: #000000;
    font-size: 30px;
    background-color: rgb(180, 176, 176);
    width: 100mm;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}


grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    margin: 40px auto;
    max-width: 1000px;
    padding: 20px;
}


horizontal-line {
    position: fixed;
    top: 27%;
    left: 0;
    width: 100vw;
    height: 2px;
    background-color: #000000;
    z-index: 999;
}

content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
    padding: 0 20px;
}

content-row.reverse {
    flex-direction: row-reverse;
}
text {
    flex: 1;
    min-width: 250px;
}

.Our-History {
        text-align: right;
        grid-column: 2 / 4;
        grid-row: 2;
        padding: 10px;
    }

hr {
  border: none;
  border-top: 2px solid #bbb;
  margin: 3rem auto;
  width: 80%;
}